<div class="right-panel">
    <h3>Отчеты</h3>
    <p>3 Пункта проката</p>
    <p>5 Сотрудников</p>
    <p>1000 Позиций инвентаря</p>
    <p>1000 Клиентов</p>
    <p>24000 Р</p>

    <h3>Старт</h3>
    <p>1 Пункт проката</p>
    <p>1 Сотрудников</p>
    <p>100 Позиций инвентаря</p>
    <p>100 Клиентов</p>
    <p>10200 Р</p>

    <h3>Профи</h3>
    <p>Пунктов проката</p>
    <p>Сотрудников</p>
    <p>Позиций инвентаря</p>
    <p>Клиентов</p>
    <p>+ модуль "Мастерская"</p>
    <p>+ модуль "Магазин"</p>
    <p>42000 Р</p>
</div>