<!-- _RightPanel.cshtml -->
<head>
    <!-- Остальные теги head -->
    <link rel="stylesheet" href="~/css/rightpanel-styles.css" asp-append-version="true" />
</head>

<div class="right-panel">
    <div id="content"></div>
</div>
