<!-- _Sidebar.cshtml -->
<head>
    <!-- Остальные теги head -->
    <link rel="stylesheet" href="~/css/sidebar-styles.css" asp-append-version="true" />
</head>

<!-- _Sidebar.cshtml -->
<aside class="sidebar fixed-top pt-5">
    <ul class="sidebar-nav">
        <li><a href="/Home/Content/Analytics">Аналитика</a></li>
        <li><a href="/Home/Content/Reports">Отчеты</a></li>


@*         <li><a href="/Home/Content/Analytics">Аналитика</a></li>
        <li><a href="/profile">Расходы</a></li>
        <li><a href="/settings">Клиенты</a></li>
        <li><a href="/Home/Content/Reports">Отчеты</a></li>
        <li><a href="/profile">Сотрудники</a></li>
        <li><a href="/settings">Инвентарь</a></li>
        <li><a href="/dashboard">Календарь</a></li>
        <li><a href="/profile">Аренды</a></li> *@
    </ul>
</aside>

