/* _rightpanel-styles.css */
.right-panel {
    margin-left: 20%; /* Отступ слева на 20% от ширины экрана */
    margin-top: 60px; /* Примерный отступ сверху */
}

@media (min-width: 992px) {
    .right-panel {
        position: sticky; /* Фиксированная позиция */
        top: 90px; /* Отступ сверху при скролле */
        height: calc(100vh - 110px); /* Высота вьюпорта минус отступ сверху и низу */
        overflow-y: auto; /* Включаем вертикальную прокрутку при необходимости */
    }
}
